- content_for :body_content_left do
  #show_blog_post
    = render 'post'
  - if Refinery::Blog::Post.comments_allowed?
    = render 'comments'
= render partial: '/refinery/blog/shared/body_content_right'
= render partial: "/refinery/content_page", locals: { remove_automatic_sections: true }
- content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend')
- if Refinery::Blog::Post::ShareThis.enabled?
  - content_for :javascripts do
    %script{src: "http://w.sharethis.com/button/buttons.js"}
    :javascript
      stLight.options({publisher:'#{Blog::Post::ShareThis.key}'});
