!!! 5
%html(lang="en")
  %head
    = render '/refinery/head'
  %body
    = render '/refinery/header'
    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"
        .span9
          = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
          = bootstrap_flash
          = yield

      %footer
        = render '/refinery/footer'
    = render '/refinery/javascripts'
