!!! 5
%html(lang="en")
  %head
    = render '/refinery/head'
  %body
    = render '/refinery/header'
    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            = render(partial: "/refinery/menu", locals: { dom_id: 'menu', css: 'menu' })
        .span9{ 'data-pjax-container' => true }
          = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
          = bootstrap_flash
          = yield

      %footer
        = render '/refinery/footer'
    = render '/refinery/javascripts'
