!!!
%html
  = render '/refinery/head'
  %body
    = render('/refinery/site_bar', head: true)
    = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
    #page_container
      %header#header
        = render '/refinery/header'
      %section#page
        = yield
      %footer
        = render '/refinery/footer'
    = render '/refinery/javascripts'
